.chat {
    display: flex;
    flex: 0.65;
    flex-direction: column;
}

.chat_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.chat_headerInfo {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.chat_headerInfo>h3 {
    margin-bottom: 3px;
    font-weight: 500;
    padding: 0px;
}

.chat_headerInfo>p {
    color: grey
}

.chat_body {
    flex: 1;
    background-image: url("./whatsAppImage.jpg");
    background-repeat: repeat;
    background-position: center;
    overflow: scroll;
    padding: 30px;
}

.chat_message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: rgb(131, 238, 78);
    margin-bottom: 30px;
    border-bottom-right-radius: -50px;
}

.chat_message:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #83ee4e;
    border-top: 0;
    border-left: 0;
    margin-left: -10px;
    margin-top: -20px;
}

.chat_timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat_name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat_receiver {
    margin-left: auto;
    background-color: limegreen;
    position: relative;
}

.chat_receiver:after {
    margin-left: auto;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: limegreen;
    border-right: 0;
    margin-top: -10px;
    margin-right: -6px;
}

.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    border: 1px solid lightgray;
}

.chat_footer>form {
    display: flex;
    flex: 1;
}

.chat_footer>form>input {
    flex: 1;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid lightgray;
    outline: none;
}

.chat_footer>form>button {
    display: none;
}

.chat_footer>.MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}