h3 {
    padding: 30px 0 30px 0;
}

.sidebarChat {
    display: flex;
    flex-direction: row;
    padding: 20px;
    cursor: pointer;
    /* justify-content: center; */
    border-bottom: 1px solid lightgray;
}

.sidebarChat:hover {
    background-color: rgba(211, 211, 211, 0.639);
}

.sidebarChat_info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.sidebarChat_info>h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat_info>.MuiSvgIcon-root {
    padding: 30px;
    margin-left: 20px;
}